* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  /* min-height: 100vh; */
}

.container {
  padding-left: 10%;
  padding-right: 10%;
}

.flex {
  display: flex;
}

header {
  background-color: white;
  justify-content: space-between;
  height: 103px;

}

header ul {
  padding: 0;
  justify-content: center;
  margin: 30px;
}

header ul li {
  font-weight: bold;
}

ul li {
  margin-right: 20px;
  list-style-type: none;
}

a.active {
  color: blue;
  border-bottom: 5px solid blue;
  padding-bottom: 50px
}

ul li:hover {
  color: blue;
  border-bottom: 5px solid blue;
  padding-bottom: 50px
}

a {
  text-decoration: none;
}

.content {
  background-color: black;
  color: white;
  font-size: 50px;
  padding: 3% 10%;
}

.shop {
  background-color: #0282f9;
  padding: 3% 10%;
  justify-content: space-evenly;
}

.shop div {
  align-items: center;
}

.shop div span {
  color: white;
  padding-left: 5%;
  font-size: 15px;
  white-space: nowrap;
}

.shop img {
  height: 50px;
}

footer {
  background: url("../img/dc-logo-bg.png") no-repeat right bottom, url("../img/footer-bg.jpg");
  background-size: 500px;
}

footer li {
  color: grey;
}

.links {
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
  width: 40%;
  align-items: flex-start;
}

.divider {
  padding-top: 10%;
}

.links h4 {
  padding-bottom: 5%;
}

.bottom-footer {
  background-color: #303030;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

button {
  margin: 2% 0px;
  background-color: #303030;
  padding: 1%;
  border: solid 2px blue;
  color: white;
}

.bottom-footer h4 {
  white-space: nowrap;
  color: blue;
}

.icons {
  align-items: center;
}

.icons svg {
  margin-left: 5%;
  white-space: nowrap;
  height: 30px;
  color: grey;
}