* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
}

header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  height: 103px;
}

ul {
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 30px;
}

ul li {
  margin-right: 20px;
  list-style-type: none;
  font-weight: bold;
}

ul li.active {
  color: blue;
  border-bottom: 5px solid blue;
  padding-bottom: 50px
}

footer {
  background-image: url("../public/img/footer-bg.jpg");
}